.shopcategory-banner{
    display: block;
    margin: 30px auto;
    margin-left: 140px;
    width: 100%;
}
.shopcategory-indexSort{
 display: flex;
 margin-top: 0px;
 margin-bottom: 0px;
 margin-left: 140px;
 margin-right: 50px;
 
 justify-content:space-between;
 align-items: center;

}
.shopcategory-sort{
    padding: 10px 10px;
    border-radius: 40px;
    border: 1px solid #888;

}
.shopcategory-indexSort p{
    font-size:large;
}
.shopcategory-indexSort p span{
    font-weight: 600;
    font-size:large;
}
.shopcategory-products{
    margin: 20px 140px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 80px;
    gap:30px;
}
.shopcategory-loadmore{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 150px auto;
    width:233px;
    height: 69px;
    border-radius: 75px;
    background: #ededed;
    color: #787878;
    font-size: 18px;
    font-weight: 500;
}
