.Navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 1px 3px -2px black;
}
.nav-logo{
    display: flex;
    align-items: center;
    gap:10px;
}
.nav-logo img{
    height:50px;
}
.nav-logo p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    font-weight: 600;
    color: rgb(243, 245, 180);
    text-shadow: 
    -1px -1px 0 black,  
     1px -1px 0 black,  
    -1px  1px 0 black,  
     1px  1px 0 black;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.nav-menu{
    display: flex;
    align-items: center;
    list-style: none;
    gap:50px;
    color: rgb(225, 170, 98);
    font-size: 20px;
    font-weight: 500;
    
}
.nav-menu li{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3px;
    cursor: pointer;
}
.nav-menu hr{
   border:none;
   width:80%;
   height:4px;
   border-radius: 10px;
   background-color: brown;
}
.nav-login-cart{
    display: flex;
    align-items: center;
    gap:45px;
}
.nav-login-cart button{
    width:150px;
    height:50px;
    outline: none;
    border: 1px solid brown;
    border-radius: 50px;
    color: rgb(235, 175, 101);
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}
.nav-login-cart button:active{
    background:#f3f3f3;
}
.nav-cart-count{
    height:22px;
    width:22px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    border-radius: 20px;
    margin-top: -30px;
    margin-left:-55px;
    color: #f3f3f3;
    /* font-size: 14px; */
    

}
